<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about.html">About</a>
  </nav>
  <main>
    <h1>{{ page.title }}</h1>
    <div>{{ content }}</div>
  </main>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Silke Plessers</p>
  </footer>
</body>
</html>
